{{yield}}

<p class="titulo"> Estudiante {{representante.estudiante.id}}</p>
<p class="contenid-second">{{representante.estudiante.cedula}}</p>  
<p class="contenid-second">{{representante.estudiante.nombre}}</p>
<p class="contenid-second">{{representante.estudiante.apellidos}}</p>  
<p class="contenid-second">{{representante.estudiante.fecha}}</p> 


<p class="titulo"> Representante </p>
<p class="contenid-second">{{representante.id}}</p>  
<p class="contenid-second">{{representante.nombre}}</p>
<p class="contenid-second">{{representante.apellidos}}</p>  
<p class="contenid-second">{{representante.correo}}</p>