{{yield}}

<p class="titulo">{{estudiante.cedula}}</p>  
<p class="contenid-second">{{estudiante.nombre}}</p>
<p class="contenid-second">{{estudiante.apellidos}}</p>  
<p class="contenid-second">{{estudiante.fechaNacimiento}}</p> 